n8n/workflows/03-token-refresh.json
{
  "id": "Bocl7Xdhmfzkhyhp",
  "name": "Maribel \u2014 Token Refresh",
  "active": false,
  "nodes": [
    {
      "id": "cron-trigger",
      "name": "Every 50 Days",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        500
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 */50 * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-config",
      "name": "Fetch Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        470,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_MARIBEL_URL }}/rest/v1/agent_config",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "eq.graph_api_version"
            },
            {
              "name": "select",
              "value": "value"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "extract-version",
      "name": "Extract Version",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        500
      ],
      "parameters": {
        "jsCode": "const data = $json;\nconst arr = Array.isArray(data) ? data : [data];\nconst version = (arr[0] || {}).value || 'v21.0';\nreturn [{ json: { graph_api_version: version } }];"
      }
    },
    {
      "id": "refresh-token",
      "name": "Refresh Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        910,
        500
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/{{ $json.graph_api_version }}/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "={{ $env.META_APP_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.META_APP_SECRET }}"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $env.META_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "refresh-success",
      "name": "Refresh Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1130,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "token-check",
              "leftValue": "={{ $json.access_token ? true : false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        400
      ],
      "parameters": {
        "jsCode": "const newToken = $json.access_token;\nconst expiresIn = $json.expires_in || 5184000; // 60 days default\nconst expiryDate = new Date(Date.now() + expiresIn * 1000).toLocaleDateString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nreturn [{\n  json: {\n    new_token: newToken,\n    expiry_date: expiryDate,\n    expires_in_days: Math.round(expiresIn / 86400),\n    message: '\\u2705 Meta token refreshed successfully.\\n\\nNew expiry: ' + expiryDate + ' (' + Math.round(expiresIn / 86400) + ' days)\\n\\n\\u26a0\\ufe0f IMPORTANT: Update the META_PAGE_ACCESS_TOKEN environment variable in n8n with the new token value.'\n  }\n}];"
      }
    },
    {
      "id": "telegram-success",
      "name": "Telegram Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1570,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "telegram-failure",
      "name": "Telegram Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1350,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"\\ud83d\\udea8 Meta token refresh FAILED.\\n\\nError: {{ JSON.stringify($json).substring(0, 300) }}\\n\\nManual intervention needed. Go to:\\n1. Meta Developer Portal\\n2. Generate new long-lived token\\n3. Update META_PAGE_ACCESS_TOKEN in n8n\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1570,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_MARIBEL_URL }}/rest/v1/api_error_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service\": \"meta\",\n  \"endpoint\": \"token_refresh\",\n  \"error_message\": {{ JSON.stringify(JSON.stringify($('Refresh Token').first().json).substring(0, 500)) }},\n  \"status_code\": 0\n}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 50 Days": {
      "main": [
        [
          {
            "node": "Fetch Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config": {
      "main": [
        [
          {
            "node": "Extract Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Version": {
      "main": [
        [
          {
            "node": "Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Refresh Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Success?": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Failure": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "3bq70FE4nwVdRiQI",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
