n8n/workflows/09-global-error-handler.json
{
  "id": "3bq70FE4nwVdRiQI",
  "name": "Maribel — Global Error Handler",
  "active": true,
  "nodes": [
    {
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "format-error",
      "name": "Format Error Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300],
      "parameters": {
        "jsCode": "const execution = $json.execution || {};\nconst workflow = $json.workflow || {};\nconst error = execution.error || {};\n\nconst errorMessage = [\n  `\\u{1F6A8} Maribel Workflow Error`,\n  ``,\n  `Workflow: ${workflow.name || 'Unknown'}`,\n  `Node: ${error.node?.name || error.name || 'Unknown'}`,\n  `Error: ${error.message || 'No message'}`,\n  `Time: ${new Date().toISOString()}`,\n  ``,\n  `Check n8n executions for details.`\n].join('\\n');\n\nreturn [{\n  json: {\n    telegram_text: errorMessage,\n    service: 'n8n_workflow',\n    error_code: 'WORKFLOW_ERROR',\n    error_message: `${workflow.name || 'Unknown'}: ${error.message || 'No message'}`.substring(0, 500),\n    request_context: JSON.stringify({\n      workflow_id: workflow.id,\n      workflow_name: workflow.name,\n      node: error.node?.name || error.name,\n      execution_id: execution.id\n    }).substring(0, 1000)\n  }\n}];"
      }
    },
    {
      "id": "log-to-supabase",
      "name": "Log to api_error_log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_MARIBEL_URL }}/rest/v1/api_error_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service\": \"{{ $json.service }}\",\n  \"error_code\": \"{{ $json.error_code }}\",\n  \"error_message\": {{ JSON.stringify($json.error_message) }},\n  \"request_context\": {{ JSON.stringify($json.request_context) }}\n}",
        "options": { "timeout": 10000 }
      },
      "continueOnFail": true
    },
    {
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 420],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": {{ JSON.stringify($json.telegram_text) }}\n}",
        "options": { "timeout": 10000 }
      },
      "continueOnFail": true
    },
    {
      "id": "cleanup-locks",
      "name": "Cleanup Stale Locks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_MARIBEL_URL }}/rest/v1/rpc/cleanup_stale_locks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_MARIBEL_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": { "timeout": 10000 }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Format Error Details", "type": "main", "index": 0 }]]
    },
    "Format Error Details": {
      "main": [[
        { "node": "Log to api_error_log", "type": "main", "index": 0 },
        { "node": "Telegram Alert", "type": "main", "index": 0 }
      ]]
    },
    "Log to api_error_log": {
      "main": [[{ "node": "Cleanup Stale Locks", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
